* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  -webkit-font-smooting: antialiased;
}

html {
  font-size: 12px !important;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  font-style: normal;

  color: rgb(0, 0, 0);
  background: #ffffff;

  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.gnb-header {
  padding: calc(18px - 6px);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.gnb-header > .logo,
.gnb-header-list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-weight: 400;
  color: #666666;
}

.gnb-header > .logo,
.gnb-header-item {
  padding: 6px;
}

.gnb-header-item:first-child {
  margin-right: 12px;
}

.gnb-header .logo img {
  display: block;
  height: 20px;
  width: auto;
}
