* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  -webkit-font-smooting: antialiased;
}

html {
  font-size: 12px !important;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  font-style: normal;

  color: rgb(0, 0, 0);
  background: #ffffff;

  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.gnb-header {
  padding: calc(18px - 6px);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.gnb-header > .logo,
.gnb-header-list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.gnb-header-list {
  font-size: 14px;
  font-weight: 400;
  color: #666666;
}

.gnb-header > .logo,
.gnb-header-item {
  padding: 6px;
}

.gnb-header-item:first-child {
  margin-right: 12px;
}

.gnb-header-item.is-active {
  color: #c0ddc1;
}

.gnb-header .logo img {
  display: block;
  height: 20px;
  width: auto;
  border-radius: 16px;
}

.project-slide-item a {
  border-radius: 16px;
  overflow: hidden;
  font-size: 0;
}

.project-slide-item img {
  width: 100%;
}

.project-slide {
  position: relative;
}

.project-slide .tns-controls {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.project-slide .tns-controls > button:first-child {
  display: block;
  width: calc(40px - 8px);
  height: 100%;
  opacity: 0;
}
.project-slide .tns-controls > button:last-child {
  display: block;
  width: calc(40px - 8px);
  height: 100%;
  opacity: 0;
}
