* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  -webkit-font-smooting: antialiased;
}

html {
  font-size: 12px !important;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  font-style: normal;

  color: rgb(0, 0, 0);
  background: #ffffff;

  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.gnb-header {
  width: 100vw;
  height: 48px;
  border-bottom: 1px solid #ececec;
  overflow-y: hidden;
}

.gnb-header::after {
  content: '';
  display: block;
  width: 100vw;
  height: 48px;
  background: #fff;
  z-index: 5;
}

.gnb-header-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  height: calc(48px - 1px);
}

.gnb {
  padding: 0 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gnb-header-list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.gnb-header-list {
  font-size: 14px;
  font-weight: 300;
  color: #666666;
}

.gnb .logo,
.gnb-header-item a {
  padding: 12px;
}

.gnb-header-item:first-child {
  margin-right: 2px;
}

.gnb-header-item.is-active {
  color: #c0ddc1;
}

.gnb-header .logo img {
  display: block;
  height: 24px;
  width: auto;
}

@media screen and (max-width: 767px) {
  .gnb-header .logo img {
    height: 20px;
  }

  .gnb-header-list {
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .gnb-header-wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .gnb .logo:hover,
  .gnb-header-item a:hover {
    color: #a9c7aa;
  }
}

i {
  font-size: 20px;
}
