.gnb {
  @include flexbox(between);
  height: 40px;

  .logo {
    a {
      display: block;
    }

    img {
      display: block;
      width: auto;
      height: 20px;
    }
  }

  &-header-list {
    @include flexbox(start);
    @include text-style(12, $secondary);
  }

  &-header-item {
    a {
      padding: 6px;
      margin-right: calc(24px - 6px);
    }

    &:last-child a {
      margin-right: -6px;
    }
  }

  @include responsive(T) {
    height: 60px;

    .logo {
      img {
        height: 30px;
      }
    }

    &-header-list {
      font-size: 14px;
    }

    .gnb-header {
      height: 60px;
    }
  }

  @include responsive(D) {
  }
}

.gnb-header {
  height: 40px;

  .gnb-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid rgba($border, 0.2);
    backdrop-filter: blur(20px);
  }
}
