.intro {
  padding: 20px 0 40px 0;

  &-wrapper {
    @include flexbox(start, center);
  }

  &-profile {
    margin-top: 40px;
    overflow: hidden;

    img {
      height: 200px;
    }
  }

  &-text {
    @include flexbox(between, start);
    flex-direction: column;

    &-title {
      @include text-style(18, $black);
      margin-bottom: 20px;
      font-weight: 700;
    }

    &-content {
      @include text-style(14, $dark);

      .blog {
        strong {
          @include inline-flexbox(start);
          overflow: hidden;
          color: transparent;
          -webkit-background-clip: text;
          background-clip: text;
          background-image: linear-gradient(
            180deg,
            #f5e2b0,
            #f5b5b5 10%,
            #db8787 33%,
            #d29bd5 42%,
            #daf5f1 50%,
            #9bd5a6 66%,
            #629363
          );
          background-position: 50% 0;
          background-size: 100% 300%;
          animation: gradientAnim 2s ease-in-out forwards;
        }

        @keyframes gradientAnim {
          0% {
            background-position: 50% 0;
          }

          to {
            background-position: 50% 100%;
          }
        }

        @keyframes gradientAnimHover {
          0% {
            background-position: 50% 100%;
          }

          to {
            background-position: 50% 0;
          }
        }
      }
    }

    &-address {
      @include flexbox(start);
      @include text-style(12, $secondary);
      margin-top: 20px;

      a {
        @include flexbox;

        i {
          margin-right: 2px;
          font-size: 16px;
        }
      }

      a:first-child {
        margin-right: 8px;

        i {
          margin-right: 1px;
          font-size: 20px;
        }
      }
    }
  }

  @include responsive(T) {
    padding: 80px 0;

    &-profile {
      margin-top: 20px;
      overflow: visible;

      img {
        height: 300px;
      }
    }

    &-wrapper {
      height: 300px;
    }

    &-text {
      height: 240px;
    }

    &-text {
      @include flexbox(between, start);
      flex-direction: column;

      &-title {
        @include text-style(24, $black);
        margin-bottom: 0;
      }

      &-content {
        @include text-style(16, $dark);
      }

      &-address {
        @include text-style(14, $secondary);
        margin-top: 20px;

        a:first-child {
          margin-right: 12px;
        }
      }
    }
  }

  @include responsive(D) {
    padding: 80px 0;

    &-text-content {
      .blog {
        strong:hover {
          animation: gradientAnimHover 2s ease-in-out forwards;
        }
      }
    }
  }
}
