.projects {
  &-web {
    padding: 20px 0;

    &-item {
      margin-bottom: 15px;
      overflow: hidden;
      border-radius: 4px;
      transition: transform 300ms ease-in-out, box-shadow 300ms ease-in-out;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .tns-ovh {
    margin: 0 -15px 0 -15px;
  }

  @include responsive(T) {
    &-web {
      padding: 40px 0;
      border-radius: 16px;

      &-item {
        margin-bottom: 40px;
      }
    }

    .tns-ovh {
      margin: 0;
    }
  }

  @include responsive(D) {
    &-web {
      &-item:hover {
        transform: translate3d(0, -10px, 0);
        box-shadow: 1px 1px 26px rgba(1, 1, 1, 0.2);
      }
    }
  }
}
